
.idea/vcs.xml
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
__pycache__/test_main_page.cpython-37-pytest-6.2.1.pyc
.idea/ApplyingPageObjectPattern.iml
__pycache__/test_main_page.cpython-37-pytest-6.2.1.pyc
__pycache__/conftest.cpython-37-pytest-6.2.1.pyc
__pycache__/test_product_page.cpython-37-pytest-6.2.1.pyc
pages/__pycache__/basket_page.cpython-37.pyc
pages/__pycache__/base_page.cpython-37.pyc
pages/__pycache__/locators.cpython-37.pyc
pages/__pycache__/locators.cpython-37.pyc
__pycache__/test_main_page.cpython-37-pytest-6.2.1.pyc
pages/__pycache__/base_page.cpython-37.pyc
pages/__pycache__/locators.cpython-37.pyc
pages/__pycache__/login_page.cpython-37.pyc
pages/__pycache__/main_page.cpython-37.pyc
pages/__pycache__/login_page.cpython-37.pyc
pages/__pycache__/locators.cpython-37.pyc
pages/__pycache__/base_page.cpython-37.pyc
